@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

.blackElement{
    background-color: #232529;
}

.lineWhite{
    background-color: #fff;
}

.whiteText{
    color: #fff;
}

.darkGrayText{
    color: #b2bac7;
}

.btnMenuDark{
    border-color: white;
}