@import "tailwindcss";

@theme{
    --color-main: #9f50ff;
}

html{
    scroll-behavior: smooth;
}

.blackElement{
    background-color: #232529;
}

.lineWhite{
    background-color: #fff;
}

.whiteText{
    color: #fff !important;
}

.darkGrayText{
    color: #b2bac7;
}

.btnMenuDark{
    border-color: white;
}