<section class="px-5 lg:p-6">
    <h2 class="text-[#6C46F4] text-3xl text-center lg:text-start">Jonathan Posada</h2>
    <h3 class="text-[#6C46F4] text-xl text-center my-4 lg:text-start">Desarrollador web</h3>
    <p>Soy egresado de Ingeniería en Desarrollo de Software y estoy especializado en el <span class="text-[#6C46F4]">desarrollo frontend</span>.</p>
    <p class="mt-2">Me gusta aprender sobre nuevas tecnologías de programación y desarrollar interfaces de usuario interactivas y dinámicas.</p>
    <div class="mt-5 space-x-2">
        <a href="https://github.com/jonathanj20" target="_blank">
            <i class="fa-brands fa-github fa-2xl" style="color: #9074e2;"></i>
        </a>
        <a href="https://www.linkedin.com/in/jonathan-posada-1154b1360/" target="_blank">
            <i class="fa-brands fa-linkedin fa-2xl" style="color: #9074e2;"></i>
        </a>
    </div>
<section/>