---
import { Icon } from "astro-icon/components";
---

<section class="px-5 mt-10" id="contact">
    <h2 class="text-main text-3xl text-center lg:text-start">Contacto</h2>
    <form action="https://formsubmit.co/e823cfc87a140ef80ea592ba36a1831b" method="POST" class="mb-28 space-y-5 lg:w-2/4 mx-auto mt-10 bg-[#f2f2fc] p-3 whiteElement text shadow-lg">
        <div> 
          <label for="name">Nombre</label>
          <input type="text" name="name" id="name" required class="outline-4 outline-gray-300 block mt-3 p-1 w-full focus:outline-main">
        </div>
        <div>
          <label for="email">Correo electrónico</label>
          <input type="email" name="email" id="email" required class="outline-4 outline-gray-300 block mt-3 p-1 w-full focus:outline-main">
        </div>
        <div>
          <label for="message">Mensaje</label>
          <textarea name="message" id="message" required class="outline-4 outline-gray-300 block mt-3 p-1 w-full h-52 focus:outline-main"></textarea>
        </div>
        <button type="submit" class=" border-[#9f50ff] text-main font-semibold p-2 block mt-10 mx-auto cursor-pointer hover:bg-main hover:text-white transition-all duration-500" id="sendButton" style="border-width: 2px;">
          <Icon name={"sendWhite"} size={30} class={"inline-block"}/>
          <span class="text">Enviar</span>
        </button>
    </form>
</section>