<section class="px-5 mt-10">
    <h2 class="text-[#6C46F4] text-3xl text-center lg:text-start">Educación <i class="fa-solid fa-user-graduate fa-sm" style="color: #9074e2;"></i></h2>    
    <div class="mt-3 flex flex-col md:flex-row md:justify-between">
        <div>
            <p>Universidad Autonoma de Baja California Sur</p>
            <p class="mt-1 text-gray-500">Ingeniería en Desarrollo de Software</p>
        </div>
        <div class="mt-3">
            <p>2020-2025</p>
        </div>
    </div>   
</section>

