<section class="px-5 mt-10">
    <h2 class="text-[#9f50ff] text-3xl text-center lg:text-start">Experiencia</h2>
    <div class="md:flex md:justify-between mt-3">
        <div class="space-y-2">
            <a href="https://www.tjabcs.gob.mx" class="hover:underline block text" target="_blank">Tribunal de Justicia Administrativa de Baja California Sur</a>
            <p class="text-[#9f50ff]">Desarrollador Frontend</p>
            <p class="text-gray-600 grayText">Tuve experiecia con <a href="https://dotnet.microsoft.com/es-es/apps/aspnet/web-apps/blazor" target="_blank" class="text-[#9f50ff] hover:underline">Blazor</a> para un sistema que permite la administración y manipulación de partes y demandas que se registraban en la aplicación web.</p>
        </div>
        <div class="mt-3 lg:mt-0">
            <p class="text">2024</p>
        </div>
    </div>
    
</section>