<section class="px-5 mt-10">
    <h2 class="text-[#6C46F4] text-3xl text-center lg:text-start">Experiencia</h2>
    <p class="mt-3">Durante mis prácticas profesionales realizadas en el <a href="https://www.tjabcs.gob.mx" target="_blank" class="text-[#6C46F4] hover:underline">Tribunal de Justicia Administrativa de Baja California Sur</a> tuve experiecia con Blazor, un framework que permite desarrollar aplicaciones web con HTML, CSS y C# y usé Bootsrap para estilos y maquetación. Durante el proyecto que me asignaron desempeñé el rol de desarrollador frontend.
    </p> <br>
    <p>El proyecto fue un sistema que permitía la administración y manipulación de partes y demandas que se registraban en la aplicación web.</p>
</section>