---
interface Option{
    name: string,
    href: string
}

const options: Option[] = [                           
    {
        name: "Inicio",
        href: "#"
    },
    {
        name: "Habilidades",
        href: "#skills",
    },
    {
        name: "Proyectos",
        href: "#projects",
    },
    {
        name: "Contacto",
        href: "#contact",
    }
];
---

<header class="fixed top-0 left-0 w-screen z-10 mx-auto block bg-[#f2f2fe] whiteElement">
    <div class=`p-4 lg:hidden`>
        <button class="cursor-pointer rounded-md border-[3px] p-2 w-11 h-11 flex items-center justify-center flex-col gap-y-0.5" id="btnMenu" style="border-width: 3px;">
             <div class="p-0.5 w-[100%] bg-black transition-all duration-300 lineBlack" id="first-line"></div>
             <div class="p-0.5 w-[100%] bg-black transition-all duration-300 lineBlack" id="second-line"></div>
             <div class="p-0.5 w-[100%] bg-black transition-all duration-300 lineBlack" id="third-line"></div>
        </button>
    </div>
    <nav class={`h-0 border-none overflow-hidden transition-all duration-300 text-center lg:h-12 lg:border-0 bg-[#ae9bef] lg:bg-transparent`} id="nav">
        {
            options.map(option => <a href={option.href} class="block p-3 lg:inline-block options text">{option.name}</a>)
        }
    </nav>
</header>

<script>
    const btnMenu = document.getElementById("btnMenu") as HTMLElement;
    const nav = document.getElementById("nav") as HTMLElement;
    const options = Array.from(document.getElementsByClassName("options"));
    
    btnMenu.addEventListener("click", (): void => {
        animateNav();
        animateLines();
    });

    const animateLines = (): void => {
        const firstLine = document.getElementById("first-line") as HTMLElement;
        const secondLine = document.getElementById("second-line") as HTMLElement;
        const thirdLine = document.getElementById("third-line") as HTMLElement;

        firstLine.classList.toggle("rotate-45");
        secondLine.classList.toggle("hidden");
        thirdLine.classList.toggle("rotate-[-0.12turn]");
        thirdLine.classList.toggle("relative");
        thirdLine.classList.toggle("bottom-1.5");
    }

    const animateNav = (): void => {
        nav.classList.toggle("h-0");
        nav.classList.toggle("h-48");
        nav.classList.toggle("border-none");
        nav.classList.toggle("border-2");
    }

    options.forEach(option => option.addEventListener("click", () => {
        animateNav();
        animateLines();
    }));
</script>