---
import Skill from "./Skill.astro";
const skills: string[] = ["HTML", "CSS", "JavaScript", "PHP", "TailwindCSS","Git", "MySQL"];
---

<section class="px-5 mt-10" id="skills">
    <h2 class="text-main text-3xl text-center lg:text-start">Habilidades</h2>
    <div class="flex gap-7 flex-wrap mt-5 justify-center lg:justify-start">
        {
            skills.map(skill => <Skill name={skill}/>)
        }
    </div>
</section>