---
import { Icon } from 'astro-icon/components';

interface Props {
	name: string;
}

interface Skill {
	name: string;
	bgColor: string;
	textColor?: string;
}

const tags: Skill[] = [
	{ name: 'HTML', bgColor: '#e15d1d' },
	{ name: 'CSS', bgColor: '#0277bd' },
	{ name: 'JavaScript', bgColor: '#f0db4f', textColor: '#000' },
	{ name: 'TailwindCSS', bgColor: '#1a6497' },
	{ name: 'PHP', bgColor: '#6181b6' },
	{ name: 'MySQL', bgColor: '#e0f3f3', textColor: '#000' },
	{ name: 'React', bgColor: '#2c2c2c' },
	{ name: 'TypeScript', bgColor: '#092644' },
	{ name: 'Astro', bgColor: '#08101d'},
];

const { name = 'unknown' } = Astro.props;
const skill = tags.find((skill) => skill.name.toLowerCase() === name.toLowerCase()) as Skill;
---

<div class={`rounded-full p-1 font-semibold ${skill.textColor !== undefined ? 'text-[' + skill.textColor + ']' : 'text-white'} flex w-24 gap-x-1 items-center justify-center text-xs`}style={{ backgroundColor: skill.bgColor }}>
	<Icon name={`${skill.name}`} size={20} />
	<span>{skill.name}</span>
</div>
