---
import { Icon } from "astro-icon/components";

interface Props {
    name: string;
}
const {name} = Astro.props;
---

<div class="grid grid-cols-1 place-items-center">
    <Icon name={name} title={name} size={55}/>
    <p class="text-center text">{name}</p>
</div>
