---
import { Icon } from 'astro-icon/components';
---

<button id="btnTheme" class="cursor-pointer p-3 fixed bottom-12 right-6 rounded-full border-2 border-[#6C46F4] bg-[#6C46F4]">
    <Icon name={"sunIcon"} size={30} />
</button>

<script>
    const btnTheme = document.getElementById("btnTheme") as HTMLElement;
    const whiteElements = Array.from(document.getElementsByClassName("whiteElement"));
    const texts = Array.from(document.getElementsByClassName("text"));
    const btnMenu = document.getElementById("btnMenu") as HTMLElement;
    const lineBlack = Array.from(document.getElementsByClassName("lineBlack"));
    const projects = Array.from(document.getElementsByClassName("project"));

    btnTheme.addEventListener("click", () => {
        whiteElements.forEach(element => {
            element.classList.toggle("blackElement");
        });

        texts.forEach(text => {
            text.classList.toggle("whiteText");   
        })

        btnMenu.classList.toggle("btnMenuDark");
        
        lineBlack.forEach(element => {
            element.classList.toggle("lineWhite");
        });

        projects.forEach(element => {
            element.classList.toggle("border-[#464059]");
            element.classList.toggle("border-[#9f50ff]");
        })
    });
</script>